@import "../globalStyle.scss";

h2 {
	font-weight: 600;
	margin-top: 10px;
}

h3 {
	margin-top: 0px;
}

.logo {
	margin-top: 30px;
	width: 250px;
	border-radius: 0px;
	margin-left: 0px;
}

.headerWrapper {
	// center the contents and column direction
	display: flex;
	justify-content: space-between;
	align-items: left;
	flex-direction: column;

}
