/* Name styling: bold, large, centered */
h4 {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
		margin: 0 0 0 0;
	font-family: inherit;
}

/* Affiliation styling: regular, smaller, centered */
h5 {
	font-size: 1.3rem;
	font-weight: 400;
	text-align: center;
		margin: 0 0 0 0;
	font-family: inherit;
}
/* Vertically align img, name, and affiliation for each person */
.verticalAlign {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 2px;
}
/* Ensure all person images have the same aspect ratio and size */
.personImg {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
	display: block;
}
@import "../globalStyle.scss";

img {
	border-radius: 50%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

h4 {
	text-align: center;
	font-size:1.1rem;
	margin-bottom: 0px;
}

h5 {
	text-align: center;
	font-size:1rem;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 0px;
}


@include mobile {
img {
		width: 120px;
	}
}

@include tablet {
img {
		width: 120px;
	}
}

@include laptop {
img {
		width: 140px;
	}
}

@include desktop {
img {
		width: 150px;
	}
}

.tooltip {
	position: absolute;
	display: inline-block;
	width: 400px;
	background-color: rgba(230, 230, 230, 0.8);
	padding: 15px;
	border-radius: 5px;
	opacity: 0;
}